<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pet.name}} Information</title>
  </head>
  <body>
    <h1>{{pet.name}} Information</h1>
    <div>
      <p>Name: {{pet.name}}</p>
    </div>
    <div>
      <p>Species: {{pet.species}}</p>
    </div>
    <div>
      <p>Photo:</p>
      <img src="{{pet.photo_url}}" alt="" width="80vw" />
    </div>
    <div>
      <p>Age: {{pet.age}}</p>
    </div>
    <form action="/{{pet.id}}" , method="POST">
      {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
      'hidden'%}

      <div class="form-group">
        {{ field.label }} {{ field(class="form-control") }}

        <span>
          {% if field.errors %} {% for error in field.errors %}
          <b class="text-danger">{{ error }}</b>
          {% endfor %} {% endif %}
        </span>
      </div>

      {% endfor %}
      <button class="btn btn-primary" type="submit">Edit</button>
    </form>
    <form action="/">
      <button class="btn btn-primary">Back to Home</button>
    </form>
  </body>
</html>
