<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/app.css" />
    <title>{% block title %}Title Goes Here{% endblock %}</title>
  </head>
  <body>
    {% block body %}Body goes Here{% endblock %}
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="/static/app.js"></script>
  </body>
</html>
