<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a User</title>
    <link rel="stylesheet" href="/static/app.css" />
  </head>
  <body>
    <h1>Edit Post for {{user.first_name}} {{user.last_name}}</h1>
    <form action="/posts/{{post.id}}/edit" method="POST">
      <div>
        <label for="Title">Title</label>
        <input type="text" name="Title" />
      </div>
      <div>
        <label for="PostContent">Post Content</label>
        <input type="text" name="PostContent" />
      </div>
      <button>Edit</button>
    </form>
    <form action="/users/{{post.user_id}}">
      <button>Cancel</button>
    </form>
  </body>
</html>
