<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a User</title>
    <link rel="stylesheet" href="/static/app.css" />
  </head>
  <body>
    <h1>Add Post for {{user.first_name}} {{user.last_name}}</h1>
    <form action="/users/{{user.id}}/posts/new" method="POST">
      <div>
        <label for="Title">Title</label>
        <input type="text" name="Title" />
      </div>
      <div>
        <label for="PostContent">Post Content</label>
        <input type="text" name="PostContent" />
      </div>
      <h2>Available Tags:</h2>
      <ul>
        {% for tag in tags %}
        <li>
          <div>
            <label for="{{tag.name}}">{{tag.name}}</label>
            <input type="checkbox" name="{{tag.name}}" />
          </div>
        </li>
        {% endfor %}
      </ul>
      <button>Add</button>
    </form>
    <form action="/users/{{user.id}}">
      <button>Cancel</button>
    </form>
  </body>
</html>
