<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{tag.name}}</title>
  </head>
  <body>
    <ul>
      <h1>Posts for Tag: {{tag.name}}</h1>
      {% for p in tag.posts %}
      <li><a href="/posts/{{p.id}}">{{p.title}}</a></li>
      {% endfor %}
    </ul>
    <form action="/tags/{{tag.id}}/edit">
      <button>Edit</button>
    </form>
    <form action="/tags/{{tag.id}}/delete">
      <button>Delete</button>
    </form>
  </body>
</html>
